@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Vadodara", sans-serif;
    font-weight: 300;
    font-style: normal;
}

::selection {
    background: #ff3e00;
    color: #fff;
}

:root{/** Dark theme primary colors */
    --color-primary-a0: #f0610b;
    --color-primary-a10: #f6742f;
    --color-primary-a20: #fb8749;
    --color-primary-a30: #ff9863;
    --color-primary-a40: #ffaa7c;
    --color-primary-a50: #ffbb95;
    
    /** Dark theme surface colors */
    --color-surface-a0: #121212;
    --color-surface-a10: #282828;
    --color-surface-a20: #3f3f3f;
    --color-surface-a30: #575757;
    --color-surface-a40: #717171;
    --color-surface-a50: #8b8b8b;
    
    /** Dark theme mixed surface colors */
    --color-surface-mixed-a0: #271a14;
    --color-surface-mixed-a10: #3c2f29;
    --color-surface-mixed-a20: #524540;
    --color-surface-mixed-a30: #685d58;
    --color-surface-mixed-a40: #807672;
    --color-surface-mixed-a50: #98908c;
    
     /** Examples */ 
    .bg-primary {
     color: var(--color-primary-a50); 
     background-color: var(--color-surface-a0); 
    }
}

body{
    background-color:  var(--color-surface-a0);
    color: var(--color-surface-a50);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.01em;
    transition: background-color 0.3s, color 0.3s;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

nav{
    width:  100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  var( --color-primary-a0);
}

nav .nav-logo a{
    text-decoration:  none;
    color: var(--color-surface-a0);
    font-size: 1.5rem;
    font-weight: 700;
}
nav  .nav-logo:hover{
    color: var(--color-primary-a40);
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: var(--color-surface-a0);
    font-size: 1rem;
    font-weight: 400;
}
nav ul li a:hover{
    color: var(--color-primary-a40);
}
nav ul li a.active{
    color: var(--color-primary-a40);
}
nav ul li a.active:hover{
    color: var(--color-primary-a40);
}

main {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
main .container {
    width: 100%;
    height:100%;
    background-color: var(--color-surface-a20);
}
main .container div {
    width: 100%;
    padding:5px;
    color: #fff;
}
main .container div ul {
    display: flex;
    align-items: center;
}
main .container div ul li {
    list-style: none;
    margin: 0 10px;
}
footer{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-a0);
    color: var(--color-surface-a0);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    transition: background-color 0.3s, color 0.3s;
}

